<p class="mb-2">Ask your coach anything:</p>

<form action="/answer" data-turbo="false">
  <div class="input-group input-group-lg">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn-blue btn-outline-secondary">
  </div>
</form>
